################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KurakinConsole/v15/Browse.VC.opendb
